name: Build

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write


jobs:
  create-release:
    runs-on: ubuntu-latest

    outputs:
      tag: ${{ steps.tag_name.outputs.tag }}

    steps:
      - name: Parse tag
        id: tag_name
        env:
          TAG: ${{ github.ref_name }}
        run: |
          echo "tag=$TAG" >> "$GITHUB_OUTPUT"

      - name: Create draft release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          name: ${{ steps.tag_name.outputs.tag }}


  build-linux:
    runs-on: ubuntu-latest
    needs: create-release

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Compile
        run: |
          sudo apt-get -qq install -y zlib1g-dev libarchive-dev nettle-dev
          make

      - name: Package
        run: |
          tar -czf "kindletool_linux-x64.tar.gz" -C KindleTool/Release/ kindletool

      - name: Upload to workflow artifact
        uses: actions/upload-artifact@v6
        with:
          name: kindletool_linux-x64
          path: KindleTool/Release/kindletool

      - name: Upload to release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: kindletool_linux-x64.tar.gz


  publish-release:
    runs-on: ubuntu-latest
    needs: [create-release, build-linux]

    steps:
      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          draft: false
          make_latest: true
