name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Compile KindleTool
      run: |
          sudo apt-get install -y zlib1g-dev libarchive-dev nettle-dev
          make
    - uses: actions/upload-artifact@v5
      with:
        name: kindletool
        path: KindleTool/Release/kindletool
